<script type="text/javascript" src="/public/front/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/front/assets/js/tether.min.js"></script>
<script type="text/javascript" src="/public/front/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/front/assets/js/owl.carousel.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="/public/front/assets/js/social.share.min.js"></script>
<script type="text/javascript" src="/public/front/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/public/front/assets/js/scripts.min.js"></script>
</body>
</html>